* {
	font-size: 20px;
	font-family: monospace;
}

window#waybar {
	background: rgba(0, 0, 0, 0.65);
	color: #fdf6f3;
}

#mode {
	color: #aa8800
}

#workspaces,
#idle_inhibitor,
#clock,
#cpu,
#memory,
#battery,
#disk,
#temperature,
#tray {
	background: #101010;
  margin-top: 7px;
  margin-bottom: 7px;
}

#workspaces button {
	padding: 0 1px;
	color: #999999;
}

#workspaces button.focused {
	color: #ffffff;
	background: #2f2f2f;
}

#workspaces button:hover {
	padding: 0 1px;
	background: #ffffff;
	color: #000000;
}


#idle_inhibitor {
	color: #ac71b4;
}

#cpu {
	color: #6c71c4;
}
#pulseaudio {
	color: #ffffff;
}
#memory {
	color: #2aa198;
}
#battery {
	color: #859900;
}
#disk {
	color: #b58900;
}
#temperature {
	color: #fa672a;	
}
#clock {
	margin: 0 0px;
	padding: 0 1px;
}

#pulseaudio-slider slider {
    min-height: 0px;
    min-width: 0px;
    opacity: 0;
    background-image: none;
    border: none;
    box-shadow: none;
}
#pulseaudio-slider trough {
    min-height: 120px;
    min-width: 10px;
    border-radius: 5px;
    background-color: #111111;
}
#pulseaudio-slider highlight {
    min-width: 10px;
    border-radius: 5px;
    background-color: #d77bba;
}

#idle_inhibitor,
#cpu,
#memory,
#battery,
#disk,
#temperature {
	margin: 0px 14px;
	padding: 0 13px;
	box-shadow: 0px 10px 8px 0px;
}
.side2 * {
	font-size: 15px;
}
.side1 * {
	font-size: 18px;
}
