[Unit]
Description=Llama Server Service
After=network-online.target
Wants=network-online.target

[Service]
Restart=always
RestartSec=3
WorkingDirectory=%h/llama
ExecStart=/usr/bin/llama-server --port 8180 --host 0.0.0.0 --models-preset %h/llama/models.ini --device Vulkan0

[Install]
WantedBy=default.target
