[Unit]
Description=Llama Server Service (iGPU)
After=network-online.target
Wants=network-online.target

[Service]
Restart=always
RestartSec=3
WorkingDirectory=%h/llama
ExecStart=/usr/bin/llama-server --port 8181 --models-preset %h/llama/models.ini
Environment=MESA_VK_DEVICE_SELECT=1002:1638!

[Install]
WantedBy=default.target
