[Unit]
Description=Llama Swap Service
After=network-online.target
Wants=network-online.target

[Service]
Restart=always
RestartSec=3
WorkingDirectory=/home/staernid/llama
ExecStart=/usr/local/bin/llama-swap -config config.yaml
Environment=HOME=/home/staernid

[Install]
WantedBy=default.target
